h1{
    display:flex;
    justify-content: center;
    margin:0px;
    padding:0px
}

.boxcell{
    height:200px;
    width:200px;
    border: 2px solid black;
    font-size: 100px;
}
#box1{
    display:flex;
    justify-content:center;

}
#box2{
    display:flex;
    justify-content:center;
}
#box3{
    display:flex;
    justify-content:center;
}

#box{
    background-color:yellow;
    color:black;
}
#winnero{
    color:white;
}
#winnerx{
    color:white;
}
.Reload{
    height:60px;
    width:100px;
}